%TEMP%install-qwen.bat
/.qwen
/.trae
*.0
/.agents
/data
/output
/.agents
/_bmad
/backend/services/correction/__pycache__
/backend/services/llm/__pycache__
/docs
/src/asr/__pycache__
/tests/test_correction/__pycache__
/backend/__pycache__
/tests/__pycache__
.env
.env
*__pycache__
/backend/api/__pycache__
/backend/services/__pycache__
/backend/models/__pycache__
/data/database
/backend/services/evaluation/__pycache__
/data/logs
backend/__pycache__/
backend/api/__pycache__/
backend/__pycache__/config.cpython-313.pyc
backend/models/__pycache__/llm_config.cpython-313.pyc
backend/models/__pycache__/transcript.cpython-313.pyc
skills-lock.json
